* {
    box-sizing: border-box;
}

/* body, html, .container {
  width: 100%;
} */

body {
     
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: black;
  font-size: 15px;
  margin: auto;
  
  

  /****blur*****/
   
}
.container1{
  background-image: url('./pics/bint.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(2px);
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Sacramento', cursive; */
  /* font-family: "Work-sans" , sans-serif; */
  font-weight: lighter;
  font-family: 'Bilbo', cursive;
  font-weight: 400;
 /* text-transform: uppercase; */
  color:#e6bf33;
  letter-spacing: 3px;
 
 }
 p {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
 }

 h1 {
   font-size: 45px;
 }
/* 
 .bg-image {
  background-image: url('./pics/p1.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 } */

/* 
@media screen and (min-width: 350px) {
  .bg-image {
    width: 100%;
  }
} */



.container {
   /*Black w/opacity see-through*/
    font-weight: bold;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
 
}
.content {
  margin: auto;
  height: 100%;
}

.navbar{
    overflow: hidden;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;

}

.navbar a{
  color: rgb(226, 205, 83);
  text-align: center; 
  text-decoration: none;
  padding: 10px 30px;
  font-weight: lighter;
}

.active{
  background-color: #87e2d0;
  border-radius: 3px;
  color: black !important
}

.nav-item {
  padding: 15px 0 15px 0; 
  /* margin-bottom: 10px; */
  background-color:rgba(255, 255, 255, 0.884);
  width: 100%;
}

.header-icon-social {
  display:flex;
  flex-flow: column nowrap;
  margin-bottom:5px;

}

.header-contact {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 7px;
}

.header-icon {
  padding-top: 6px;
  padding-right: 10px;
  margin-left: 0px;   
}



.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.753);
  padding: 10px 10px 0 10px;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
  top: 0;
}

a {
    text-decoration: none;
}

.card{
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin:20px 0 50px 0;
  padding-top: 80px;
  padding-bottom: 100px;
}
.card-box {
  width: 570px;
  height:620px;
  background-color: rgba(255, 253, 253, 0.877);
}

.card-box-in-box {
  margin:200px  auto;
  padding: 25px;
  background-color:black;
  left: -10px;
}
/* .card {
  position: relative;
  margin: auto;
  width: 900px;
  height: 450px;
  overflow: hidden;
  margin-bottom: 10%;
  margin-top: 5%;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
} */

/* @media screen and (min-width: 350px) {
  .card{
    width: 100%;
  }
} */

/*Light blue cover above the slide show*/
/* .card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(140, 22, 115, 0.2);
} */

/* .card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  
  transform: translateX( 700px );
  background-image: url('pics/pic2.png') ;  
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}


.card_part.card_part-two {
  z-index: 2;
  background-image: url('pics/pic1.png') ;
  animation-delay: 7s;
}

.card_part.card_part-three {
  z-index: 3;
  background-image: url( 'pics/pic2.jpg' );
  animation-delay: 14s;
}

.card_part.card_part-four {
  z-index: 4;
  background-image: url( 'pics/pic3.png' );
  animation-delay: 21s;
}


@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -700px ); }
  100% { transform: translateX( -700px ); }
} */


/*box styling*/

/* .box-wrapper {
  display: grid;
  grid-gap: 40px 40px;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: "box1 . box2" "box3 . box 4";
  justify-items: stretch;
  
  align-content: space-evenly; 
} */

.img {
  margin: 40px;
}

.wonder-woman {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 25px;
  font-size: 15px;
  margin: auto;
  width: 100%;
  padding: 60px 0 60px 0;
  align-content: center;
}

.wndr-wm{
  width: 50%;
  margin: auto;
}
  /* dropdown button */
  .dropdown-btn {
    background-color:#87e2d0;
    color: #e3bf3a;
    padding: 16px;
    font-weight: lighter;
    font-family: 'Bilbo', cursive;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

.dropdown {
  background-color: #87e2d0;
  width: 30%;
  display: inline-block;
  font-size: 125%;
  margin-top: -15px;
  }

  .dropdown h2 {
    color: black !important;
  }

  .wardrobe  {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 430px 430px;
    grid-gap: 150px 100px;
    margin: 100px 0 130px 0;
    justify-content: center;
    padding-bottom: 40px;
  }

  .wardrobe img {
    border-radius: 10px;
  }

  .mscontent, .mscontent-price{
    font-size: 20px; 
    font-weight: lighter;
    font-family: 'Bilbo', cursive;
  }

  .mscontent-btn {
    color: #f8f8f7bd;
    font-size:13px; 
    letter-spacing: 3px; 
    width: 120px; 
    border:none; 
    border-radius: 2px;
    padding: 12px; 
    background-color:black; 
    font-weight: bold;
    font-family: 'Bilbo', cursive;
  }

  .mscontent-button {
    color: rgb(233, 211, 85);
    font-size:13px; 
    letter-spacing: 3px; 
    width: 120px; 
    border:none;
    border-radius: 3px;
    margin-top:10px; 
    padding: 12px; 
    background-color: seashell; 
    font-weight: bold;
    font-family: 'Bilbo', cursive;
  }

  .mscontent-button:hover {
    background-color: #d8caca;
    color: black;
    font-size:18px;
  }

 /* slide */
#exampleSlider {
  background-color: seashell;
  /* position: absolute; */
}

.exampleSlider-heading {
  width: 75%;
  background-color: #000000;
  display: inline-block;
  font-size: 125%;
  margin-top: -20px;
  margin-bottom: 25px;
}

/* @media screen and (min-width: 350px) {
  #exampleSlider {
    width: 100%;
  }
} */

@media (max-width: 767px) {
  #exampleSlider {
    border-color: transparent;
  }
}
#exampleSlider .MS-content {
  margin: 0px 5%;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 767px) {
  #exampleSlider .MS-content {
    margin: 0;
  }
}
#exampleSlider .MS-content .item {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  width: 20%;
  margin: 40px 30px 30px 35px;
}


@media (max-width: 1200px) {
  #exampleSlider .MS-content .item {
    width: 25%;
  }
}
@media (max-width: 992px) {
  #exampleSlider .MS-content .item {
    width: 33.3333%;
  }
}
@media (max-width: 767px) {
  #exampleSlider .MS-content .item {
    width: 50%;
  }
}
#exampleSlider .MS-content .item p {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
}
#exampleSlider .MS-controls button {
  border: none;
  outline: 0;
  position: absolute;
  margin-top: -400px;
  height: 4%;
  width: 4%;
}

#exampleSlider .MS-controls button:hover{
  background-color: rgba(255, 255, 255, 0.295);
}
@media (max-width: 767px) {
  #exampleSlider .MS-controls button {
  display: none;  
  }
}
#exampleSlider .MS-controls button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.253);
}
#exampleSlider .MS-controls .MS-left {
  left: 10px;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-left {
    left: -2px;
  }
}
#exampleSlider .MS-controls .MS-right {
  right: 25px;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-right {
    right: -2px;
  }
}

#exampleSlider .MS-controls a {
  height: 50px;
} 

.subscribe {
  width: 100%;
  margin: auto;
  font-size: 10px;
}

.subscribe h2 {
  font-size: 20px !important;
}

/* @media screen and (min-width:350px){
  .subscribe{
    width: 100%;
    padding: 0;
    height: auto;
    font-size: 10px;
  }
  .subscribe h2{
    width: 50%;
  }
} */

 form {
    border: 1px solid #f1f1f1;
    padding: 50px 50px 50px 50px;
    background-color: #080808;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    /* padding: 5px 5px 0 5px; */
    background-color: transparent;
  }
  
.form-text {
  width: auto;
  font-size: 15px;
}

  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=text] {
    width: 500px;
    margin: 10px 10px 10px 30px;
  }

  input[type=submit] {
    width: 200px;
    background-color: #87e2d0;
    color:black;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }

/* @media screen and (min-width:350px){
  form{
    padding: 0;
  }
  input[type=text] {
    width: 40%;
    margin: 2px;
  }
  input[type=submit] {
    width: 25%;
  }
}  */

.footer{
  margin: auto;
}

.nav-footer {
  margin: 30px 0 30px 0;
}

.nav-footer a{
  color: black;
  font-style: italic;
  font-size: 20px;
  padding: 25px 15px 25px 15px;
  font-family: 'Bilbo', cursive;
  font-weight: lighter;
}

.nav-footer a:hover{
  color:#CE4A7EFF;
}

.footer-end {
  padding-top: 60px;
  background-color: white;
  display:flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.footer-end p {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 10px;
}

.ft-img{
  margin: 80px 60px 0 0;
}

.footer-end-img img{
  margin: 15px;
  display: block;
}
  
.ft-end-img {
  margin-top:30px; 
}

.footer-p {
  width:40%;
  margin: 0 20px 0 20px;
  line-height: 25px;
  
}
.footer-p p{
  font-size: 15px;
}

.footer-bottom a {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 12px;
}

.footer-bottom{
  margin-top: 50px;
  padding-bottom: 40px;
}

.footer-bottom p {
  font-size: 10px;
}

.ft-end {
  height: auto;
  background-color: white;
}

hr {
  width: 850px;
}



/*  */
/*  */
/*  */
/*  */

/* background-blur */





.box{
  margin: auto;
}

.box1{
  background-color: rgb(225, 238, 41);
  grid-area: header;
}

.box2{
  background-color: rgb(231, 26, 26);
  grid-area: main;
}

.box3{
  background-color: rgb(139, 33, 226);
  grid-area: sidebar;
}

.box4{
  background-color: rgb(236, 37, 160);
  grid-area: footer;
}


/* About page*/

.wonder-woman-about {
  width: 75%;
  border-top: solid 1.5px black;
  padding-top: 120px;
  padding-bottom: 90px;
  letter-spacing: 1px;
}

.wonder-woman-box {
  width: 30%;
  background-color: black;
  margin-bottom: -20px;
  display: inline-block;
  font-size: 125%;
  color:#CE4A7EFF ;
}
.dropdown-about {
  margin-bottom: 30px;
}

#collection {
  margin: 60px 0 20px 15px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 40px 0 50px 0;
}

.collection-ctgry {
  margin-right: 25px;
  width: 250px;
  height: 300px;
  margin-right: 50px ;
  /* opacity: 0.8;
  filter : alpha(opacity = 80); */
}

.collection-ctgry h3 {
  color: blue;
  font-size: 25px;
}

.collection-ctgry:hover{
  width: 350px;
  height: 390px;
  
  opacity: 1;
  filter:  alpha (opcaity = 100);
}

.ctgry1 {
background-image: url('./pics/p1\ -\ Copy.png');

}
.ctgry2 {
  background-image: url('./pics/p1\ -\ Copy.png');
}
.ctgry3 {
  background-image: url('./pics/p1\ -\ Copy.png');

}

.ctgry4 {
  background-image: url('./pics/p1\ -\ Copy.png');
}


/* 


wardrobe


*/


.wardrobe-heading {
  width: auto;
  height: auto;
  background-color: #87e2d0;
  display: inline-block;
  font-size: 125%;
  margin-top: 60px;
  margin-bottom: -100px;
  padding: 70px 60px;
  border-radius: 10px;
}

.wardrobe-heading h2{
  color: black !important;
}


.box-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 130px 180px;
  padding: 250px 0 250px 0;
  justify-content: center;
  border-top:1px solid black;
  border-radius: 30px;
}

.box {
  width: 400px;
  height: 350px;
  background: darkmagenta;
  text-align: center;
  font-size: 25px;
  /* opacity: 0.75;
  filter: alpha (opacity = 75); */
}

.box:hover {
  background-image: url('./pics/p1\ -\ Copy.png');
  opacity: 1;
  filter: alpha (opacity = 100);
}

.box h3{
  margin: 130px auto;
  color: #ccc;
}

.mscontent-button-wardrobe{
  width:auto;
  height: auto;
  padding: 30px 30px;
  margin-top: -50px;
}


/* shop */

#shop {
  margin: 160px 0 0 0;
  justify-content: center;
}

#shop-collection {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: auto auto auto auto;
  grid-gap: 100px 20px;
  justify-content: center;
  border-radius: 30px;
  border-top: 1px solid black;
  padding-top: 190px
}

.wardrobe-item {
  width: 350px;
  height: 300px;
  margin-bottom: 200px;
}


.shop-heading { 
  width: auto;
  height: auto;
  color: darkmagenta;
  background-color: #87e2d0;
  display: inline-block;
  font-size: 125%;
  margin-bottom: -100px;
  padding: 60px 80px;
  border-radius: 100px;
  }
  
.wardrobe-item img {
  border-radius: 5px;
}

.wardrobe-item:hover {
  opacity: 1;
  filter: alpha (opacity = 100);
}

.wardrobe-content, .wardrobe-price{
  font-size: 20px; 
  font-weight: lighter;
  font-family: 'Bilbo', cursive;
}

.item9{
  margin-bottom: 100px;
}

.wardrobe-button {
  color: #CE4A7EFF;
  font-size:13px; 
  letter-spacing: 3px; 
  width: 120px; 
  border:none; 
  /* margin-top:10px;  */
  padding: 12px; 
  background-color:black; 
  font-weight: bold;
  font-family: 'Bilbo', cursive;
  border-radius: 3px;
}

/* 


*/



/*Order*/
input{
  border-radius: 5px;  
}

#order-body {
  height: auto;
  width:67%;
  border-radius: 4px;
  background: rgb(248, 248, 248);
  margin: auto;
  margin-top: 75px;
  padding: 45px;
}

#order-heading {
  width: 70%;
  margin-left: 27%;
  align-content: center;
}

#order-sub-body {
  /* margin:100px auto; */
  border-radius: 35px;
  color:grey;
  display:flex;
  justify-content: center;
}

#order-image img {
  border-radius: 20px;
}

#order-form {
  border-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 38px 15px;
  margin-left: 10px;
}


/*





*/

.bg-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;

  display: block;
  background-image: url('https://res.cloudinary.com/kinkidy/image/upload/v1575372195/larobe/p1.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;

  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}
@media only screen and (max-width: 767px) {
  .bg-image {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url('pics/sa.jpg');
  }
}